@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;

  --color-body: #e5e5e5;
  --color-dark: #0a0909;
  --color-grey: #777876;
  --color-grey-100: #e4e4e3;
  --color-accent: #fe7634;
  --color-accent-hover: #f55304;

  --font-primary: "Playfair Display";
  --font-secondary: "Lato";
}

body {
  @apply bg-body font-secondary text-lg text-grey font-medium;
}

.container {
  @apply max-w-300 px-3.75 mx-auto;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @apply font-primary italic;
}

.h1 {
  @apply text-6xl lg:text-8xl font-bold text-white;
}

.h2 {
  @apply font-black text-[46px] mb-4 leading-[1.1];
}

.h3 {
  @apply font-extrabold italic text-[40px];
}

.h4 {
  @apply font-extrabold italic text-[26px] text-white;
}

.h5 {
  @apply font-medium text-[22px] text-white;
}

.pretitle {
  @apply font-secondary font-bold text-base uppercase tracking-[-0.04em] text-accent mb-2;
}

.btn {
  @apply h-14 rounded-full bg-accent px-10.5 text-white text-base font-secondary font-semibold tracking-[0.02em] outline-none hover:bg-accent-hover transition-all duration-300 flex justify-center items-center cursor-pointer;
}

.input {
  @apply h-14 w-79 outline-none pl-7.5 rounded-full bg-transparent text-white focus:ring-1 focus:ring-accent border border-white/20 placeholder:font-light placeholder:text-white/20 transition-all;
}

.carousel.carousel-slider .control-arrow {
  background-color: transparent;
  height: 50px;
  width: 50px;
  border: 2px solid #fe7634;
  border-radius: 100%;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .control-prev.control-arrow:before,
.carousel .control-next.control-arrow:before {
  border: none;
  width: 24px;
  height: 24px;
}

.carousel .control-prev.control-arrow:before {
  background: url("/assets/testimonial/arrow-left.svg") no-repeat;
}

.carousel .control-next.control-arrow:before {
  background: url("/assets/testimonial/arrow-right.svg") no-repeat;
}

.react-time-picker__wrapper {
  border: transparent !important;
}

.react-time-picker__inputGroup__input {
  outline: none;
}
